body {
    margin: 0;
    background: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}


input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.5rem;
}

button {
    font-size: 1.2rem;
    border-radius: 8px;
    border: none;
    background: rgb(55, 209, 183);
    padding: 1rem;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.chat.ui {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.chat.ui ul {
    flex: 1
}

.chat.ui form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.join {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

.found {
    background-color: lightcoral;
}

span.error-message {
    width: 150px;
    margin: auto;
    position: absolute;
    margin-left: 30%;
    color: black;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 15px;
}

.invisible {
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.opacity {
    opacity: 1;
    transition: opacity 150ms ease-in;
}

.join ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}

.roomChoice {
    background-color: rgb(55, 209, 183);
    color: black;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
}

.unlockedRoomTable, .lockedRoomTable {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.allRoomsLocked, .allRoomsUnlocked {
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.roomTag {
border: 2px solid red;
}

.join-existing-room div {
    display: flex;
}

@keyframes fade {
    0%   { opacity:  0; }
    7%   { opacity: 0.5 }
    15%  { opacity:   1 }
    90%  { opacity:   1 }
    95%  { opacity: 0.8 }
    100% { opacity:  0; }
  }

  .fadeAnimation {
      opacity: 0;
      animation: fade 4s ease;
  }
